.paginas {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-top: 20px;
    margin-right: 10%;
}

.anterior, .pag1, .proximo{
    border-radius: 12px;
    background-color: #212529;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    height: 36px;
    width: 36px;
    text-align: center;
    font-size: 16px;
}

.active{
    border-radius: 12px;
    background-color: #080b3c;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    height: 36px;
    width: 36px;
    text-align: center;
    font-size: 16px;
}

.disabled{
    display: none;
}