* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    font-weight: 600;
}  

.tabela-content{
    display:flex;
    align-items: center;
    gap: 100px;
}

.sidebar-admin{
    background-color: #3b1b4d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0.6rem 2rem 0.6rem;
    border-radius: 0px 12px 12px 0px;
    height: 100vh;
    transition: all 0.3s ease;
}

.sidebar-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sidebar-content img{
    height: 66px;
    width: 66px;
}

.sidebar-content ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
    padding: 0px 1rem;
}

.sidebar-links a{
    text-decoration: none;
    color: rgb(237, 235, 238,0.8);
}

ul li{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.sidebar-links a{
    cursor: pointer;
    transition: all 0.2s ease;
}

.sidebar-links a:hover{
    scale: 1.05;
    color: #edebee;
}

.sidebar-logout div{
    cursor: pointer;
    transition: all 0.2s ease;
    color: rgb(237, 235, 238,0.8);
}

.sidebar-logout div:hover{
    scale: 1.05;
    color: #edebee;
}

.sidebar-closed .item-description{
    display: none;
}

.sidebar-closed .sidebar-content ul li{
    gap: 0;
}