<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeNews | Tabela de Notícias</title>
    <script src="https://kit.fontawesome.com/654def639f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../public/css/tabela.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
</head>
<body class="tabela-content">
    <aside class="sidebar-admin">
        <div class="sidebar-content">
            <img src="../../../assets/logo-codenews.png" alt="Logo CodeNews" />
            <ul class="sidebar-links">
                <li>
                    <a href="/app/views/site/home.html">
                        <i class="fa-solid fa-house"></i>
                        <span class="item-description">Página Inicial</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <span class="item-description">Notícias</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-user-pen"></i>
                        <span class="item-description">Usuários</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-logout">
            <div>
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">Logout</span>
            </div>
        </div>
    </aside>
    <main class="content">
        Tabela
    </main>
</body>
    <script src="../../../public/js/tabela.js"></script>
</html>