<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeNews | Tabela de Notícias</title>
    <script src="https://kit.fontawesome.com/654def639f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../public/css/tabela.css">
</head>
<body class="tabela-content">
    <aside class="sidebar-admin">
        <div class="sidebar-content">
            <img src="../../../assets/logo-codenews.png" alt="Logo CodeNews" />
            <ul class="sidebar-links">
                <li>
                    <i class="fa-solid fa-house"></i>
                    <span class="item-description">Página Inicial</span>
                </li>
                <li>
                    <i class="fa-solid fa-pen-to-square"></i>
                    <span class="item-description">Notícias</span>
                </li>
                <li>
                    <i class="fa-solid fa-user-pen"></i>
                    <span class="item-description">Usuários</span>
                </li>
            </ul>
        </div>
        <div class="sidebar-logout">
            <div>
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">Logout</span>
            </div>
        </div>
    </aside>
    <main class="content">
        Tabela
    </main>
</body>
    <script src="../../../public/js/tabela.js"></script>
</html>