<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/tabelaUsuarios.css">
</head>
<body>
    <div class="container">
        <table>
            <thead>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>ações</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Douglas</td>
                    <td>douglas@gmail.com</td>
                    <td>
                        <div class="visualizar"></div>
                        <div class="editar"></div>
                        <div class="excluir"></div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Douglas</td>
                    <td>douglas@gmail.com</td>
                    <td>
                        <div class="visualizar"></div>
                        <div class="editar"></div>
                        <div class="excluir"></div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Douglas</td>
                    <td>douglas@gmail.com</td>
                    <td>
                        <div class="visualizar"></div>
                        <div class="editar"></div>
                        <div class="excluir"></div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Douglas</td>
                    <td>douglas@gmail.com</td>
                    <td>
                        <div class="visualizar"></div>
                        <div class="editar"></div>
                        <div class="excluir"></div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Douglas</td>
                    <td>douglas@gmail.com</td>
                    <td>
                        <div class="visualizar"></div>
                        <div class="editar"></div>
                        <div class="excluir"></div>
                    </td>
                </tr>
            </tbody>
        </table>
          
    </div>
</body>
</html>