<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/tabelaUsuarios.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/css/modal.css">
</head>

<body>
    <div class="container">
        <div class="testa">
            <p>Tabela de usuários</p>
            <div class="criar" onclick="abrirModal('modal', 'fundo')">
                <p>Criar usuário</p>
            </div>
        </div>
        <table>
            <thead>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th class="tituloAcoes">ações</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Douglas</td>
                    <td>douglas@gmail.com</td>
                    <td class="acoes">
                        <div class="visualizar"><i class="bi bi-eye"></i></div>
                        <div class="editar"><i class="bi bi-pencil"></i></div>
                        <div class="excluir"><i class="bi bi-trash"></i></div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Douglas</td>
                    <td>douglas@gmail.com</td>
                    <td class="acoes">
                        <div class="visualizar"><i class="bi bi-eye"></i></div>
                        <div class="editar"><i class="bi bi-pencil"></i></div>
                        <div class="excluir"><i class="bi bi-trash"></i></div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Douglas</td>
                    <td>douglas@gmail.com</td>
                    <td class="acoes">
                        <div class="visualizar"><i class="bi bi-eye"></i></div>
                        <div class="editar"><i class="bi bi-pencil"></i></div>
                        <div class="excluir"><i class="bi bi-trash"></i></div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Douglas</td>
                    <td>douglas@gmail.com</td>
                    <td class="acoes">
                        <div class="visualizar"><i class="bi bi-eye"></i></div>
                        <div class="editar"><i class="bi bi-pencil"></i></div>
                        <div class="excluir"><i class="bi bi-trash"></i></div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Douglas</td>
                    <td>douglas@gmail.com</td>
                    <td class="acoes">
                        <div class="visualizar"><i class="bi bi-eye"></i></div>
                        <div class="editar"><i class="bi bi-pencil"></i></div>
                        <div class="excluir"><i class="bi bi-trash"></i></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="fundoModal" id="fundo"></div>
        <div class="modalContainer" id="modal">
            <form id="formulario" onsubmit="erroChecker('erroEmail', 'erroSenha', 'formulario', 'email', 'inputSenha', event)">
                <div class="email">
                    <p>digite seu e-mail</p>
                    <input type="email" class="inputMail", id="email">
                    <span id="erroEmail"></span>
                </div>
                <div class="password">
                    <p>digite sua senha</p>
                    <input type="password" class="inputSenha" id="inputSenha">
                    <i class="bi bi-eye" id="iconeSenha" onclick="mostrarSenha('iconeSenha', 'inputSenha')"></i>
                    <span id="erroSenha"></span>
                </div>
                <div class="image">
                    <img src="" class="perfilImage" id="imgProfile">
                    <input type="file" accept="image/jpeg, image/png, image/jpg" id="inputImage">
                    <span id="erroImg"></span>

                </div>
                <div class="botoes">
                    <div class="btnImage" id="btnInputImg" onclick="document.getElementById('inputImage').click()">
                        <p>Adicionar</p>
                        <p>imagem</p>
                    </div>
                    <button type="submit" class="btnCriar" >criar</button>
                </div>
            </form>

        </div>
    </div>
</body>
<script src="/public/js/modal.js"></script>

</html>